*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.container{
    background: url('bg_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* border: 20px solid red; */
}
.logo{
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
    color: rgb(3, 78, 230);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav-items{
    margin-right: 30px;
}
.nav-items li{
    display: inline-block;
    line-height: 60px;
}
.nav-items li a{
    font-size: .94rem;
    color: rgb(214, 67, 124);
    margin-left: 10px;
    font-weight: 600;
}
.nav-items li a:hover{
    border-bottom: 2px solid royalblue;
    transition: .5s all ease ease-in-out;
}
.hambar .bar{
    height: 3px;
    background-color: black;
    margin: 5px;
    margin-right: 30px;
}
.bar1{
    width: 25px;
}
.bar2{
    width: 18px;
}
.hambar{
    cursor: pointer;
    display: none;
}
section h1{
    font-size: 5rem;
    margin-top: 15%;
    margin-right: 10%;
    font-weight: bolder;
    color: white;
    text-align: right;
}
section p{
    text-align: right;
    margin-right: 10%;
    color: rgb(206, 102, 102);
    font-size: 2rem;
    font-weight: 600;
}
.icons{
    margin-top: 25%;
    text-align: right;
    margin-right: 10%;
}
.icons i{
    margin: 7px;
    cursor: pointer;
    color: white;
}


@media (max-width: 813px){
    .logo{
        font-size: 35px;
    }
}
@media (max-width: 768px){
    .logo{
        margin-left: 20px;
    }
    .nav-items{
        display: none;
    }
    .hambar{
        display: block;
    }

    .active{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 10px;
        background-color: rgba(0, 0, 0, .14);
        width: 45%;
        margin-left: -20px;
        height: calc(100vh - 60px);
    }
    .active li a{
        margin-left: 30px;
        color: aliceblue;
    }
}